@import "../../../Assets/styles/shared-styles.scss";

$mediumBreakpoint: "screen and (min-width: #{map-get($breakpoints, 'm')})";
$largeBreakpoint: "screen and (min-width: #{map-get($breakpoints, 'l')})";
$xLargeBreakpoint: "screen and (min-width: #{map-get($breakpoints, 'xl')})";

@mixin detailPagePadding {
  padding: to-rem(10);

  @media #{$mediumBreakpoint} {
    padding: to-rem(15);
  }

  @media #{$largeBreakpoint} {
    padding: to-rem(15 20);
  }
}

.productDetails {
  margin: to-rem(100) auto !important; 
  background-color: White;
  border-width: 20;
  display: flex;
  max-width: to-rem(1075);
  @include detailPagePadding();
  @include breakpoint("m"){
    margin: 0 auto !important;
    display: block;
  }
  @include breakpoint("s"){
    display: block;
  }

  &_Image {
    border-style: none;
    display: block;
    height: 20rem;
    margin-right: to-rem(50);
    -o-object-fit: contain;
    object-fit: contain;
  }
}
.primePriceWrapper {
  width: 57%;
  &_LocationWrapper{
    border-bottom: .0625rem solid #f2f2f2;
    margin-bottom: .625rem;
  }
  &_State {
    font-size: 1.875rem;
    font-weight: 500;
  }
  .prices {
    align-items: center;
    display: flex;
  }
  .durationWrapper{
    border-bottom: .0625rem solid #f2f2f2;
    margin-bottom: to-rem(20);
    padding-bottom: to-rem(10);
    .duration {
        background-color: #ffeded;
        border-radius: 0.3125rem;
        color: #d0021b;
        font-size: 0.875rem;
        font-weight: 700;
        padding: 0.3125rem;
        text-transform: uppercase;
        width: to-rem(120);
      }
  }
 
  &_Formerprice {
    color: #b9b9b9;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.625rem;
    text-decoration: line-through;
  }
  &_Save {
    color: #44c69f;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9375rem;
    margin-left: 0.625rem;
  }
}
.shareWrapper {
  border-top: .0625rem solid #f2f2f2;
  margin: to-rem(20) to-rem(0) to-rem(20) to-rem(0);
}
.buttonWrapper {
  &_subscribeButton {
    background-color: #33b27b;
    border-color: #FFFFFF;
    width: 55%;
    &:hover {
        background-color: #33b27b;
    }
  }
}
.shareText {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 0 0.625rem;
}
.iconWrapper {
  display: flex;
  &_Icon {
    background-color: #ccc;
    border-radius: 50%;
    height: to-rem(30);
    margin-right: to-rem(13);
    text-align: center;
    width: to-rem(30);
    svg {
      margin-bottom: auto;
      margin-top: 2%;
    }
  }
}