@import "../../../Assets/styles/shared-styles.scss";

.Termsinfocontainter {
    border-radius: to-rem(3);
    box-shadow: to-rem(0 0 5) rgba(0, 0, 0, 0.07);
    height: to-rem(55);
    margin-left: 9%;
    margin-right: 10%;
    margin-top: to-rem(21);
    max-width: to-rem(1108);
    position: relative;
    text-align: center;
}

.Termsinfotext {
    left: 40%;
    position: absolute;
    top: 50%;
    transform: translate(-40%, -50%);

    span {
        cursor: pointer;
    }
}

.highlight {
    color: #ed047f;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}
