@import "../../../../Assets/styles/shared-styles.scss";

.cardlessWithdraw{
    .form{
    padding: to-rem(25 16);
        background-color: color(White);
        margin-bottom: to-rem(30);
        @include breakpoint-mini('xxl'){
            width: to-rem(640);
            padding: to-rem(25 56);
            border: 1px solid #E5E5E5;
            box-shadow: 0px 4px 4px 0px #00000008;
        }
        h1{
            color: color(DavyGrey);
            font-size: to-rem(18);
            font-weight: 400;
            margin-bottom: to-rem(25);
            .bold{
                color: color(Black);
                font-weight: bold;
            }
        }
        p{
            font-size: to-rem(12);
            margin-top: to-rem(10);
            color: #ED017F;
        }
        label{
            color: color(DavyGrey);
        }
    }
   
    .button{

        height: to-rem(46);
        margin: to-rem( 67 0 38 0);
        @include breakpoint-mini('xxl'){
            margin: to-rem( 67 40 38 40);

        }
    }
    .history{
       
        padding: to-rem(25 16);
        background-color: color(White);
        margin-bottom: to-rem(48);
        @include breakpoint-mini('xxl'){
            width: to-rem(640);
            padding: to-rem(25 56);
            border: 1px solid #E5E5E5;
            box-shadow: 0px 4px 4px 0px #00000008;
        }
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: to-rem(30);
            p{
                color: color(DavyGrey);
                font-size: to-rem(18);
            }
            a{
                font-size: to-rem(16);
                color: color(PrimaryLight);
            }
        }
    }
}