.container  {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../../../Assets/images/spinner.gif") 50% 50% no-repeat rgba(204, 202, 202, 0.5);
  }