@import "../../../Assets/styles/shared-styles.scss";

.deliveryAddressForm{
    padding: to-rem(0 20);
    .input{
        margin-bottom: to-rem(18);
        select{
            height: to-rem(48);
        }
        .disabled {
            opacity: 0.4;
            pointer-events: none;
            background-color: lightgrey;
        }
    }
    .goBack{
        cursor: pointer;
        margin-bottom: to-rem(5);
    }
}