@import "../../../Assets/styles/shared-styles.scss";

.productDetail {
  // background-color: color(White);
  @include breakpoint-mini("l") {
    padding: to-rem(0 70);
    background-color: color(Grey95);
  }
  @include breakpoint("s") {
    margin-top: to-rem(-100%);
  }
  .header {
    h1,
    h2 {
      font-size: to-rem(20);
      padding: to-rem(20 0 15 0);
      color: color(DustyGray);
      color: black !important;
      @include breakpoint-mini("l") {
        padding: 1.25rem 0 0.9375rem 1.9375rem;
      }
    }
    @include breakpoint-mini("l") {
      border-bottom: to-rem(1) solid #d8d8d8;
    }
  }
  .contentBody {
    padding: 0.875rem 5.0625rem 1.125rem 1.9375rem;
  }
  &_Info {
    background-color: #fbfbfb;
    margin-bottom: to-rem(16);
    border-radius: to-rem(4);
    p {
      color: #4d4d4d;
      font-size: to-rem(14);
      padding: to-rem(30 16 34 16);
    }
    @include breakpoint-mini("l") {
      padding: 0;
      p {
        font-size: to-rem(15);
        padding: 0.875rem 5.0625rem 1.125rem 1.9375rem;
      }
    }
  }
  .mobileContentWrapper {
    // %boxShadowVarOne;

    @extend %mobileOnly;

    max-height: to-rem(1200);
    overflow-y: auto;

    .accordionWrapper {
      border: none;
      border-radius: 0;
      margin: 0;
      .details {
        p {
          color: #4d4d4d;
          font-size: to-rem(15);
          padding: to-rem(30 16 34 16);
        }
      }

      &:not(:last-child) {
        border-bottom: to-rem(1) solid color(LightGrey);
      }

      > div {
        &:first-child {
          padding: to-rem(20 15);

          span {
            font-size: to-rem(14);
            font-weight: $font-weight-bold;
          }
        }

        &:nth-child(2) {
          border-top: none;
        }
      }
    }
  }
  &_Sepcification {
    background-color: #fbfbfb;
    margin-bottom: to-rem(16);
    border-radius: to-rem(4);
    .content {
      padding: to-rem(28 0 24 111);
      li {
        padding-bottom: to-rem(10);
        color: #4d4d4d;
      }
    }
  }
  &_customerReview {
    background-color: #fbfbfb;
    margin-bottom: to-rem(24);
    border-radius: to-rem(4);
    .content {
      padding: to-rem(18 0 0 111);
    }
    @include breakpoint-mini("m") {
      height: to-rem(506);
    }
  }
  &_productListItems {
    background-color: color(White);
    padding: to-rem(0 16);
    margin-bottom: to-rem(94);
    @include breakpoint-mini("l") {
      padding: to-rem(0);
    }
    .productListHeading {
      h3 {
        font-size: to-rem(20);
        padding-top: to-rem(53);
        margin: to-rem(0 0 44 22);
        color: #5a5f66;
        @include breakpoint("s") {
          font-size: to-rem(16);
          padding-top: to-rem(23);
          margin: to-rem(0 0 22 0);
        }
      }
    }
  }

  &_productListItems {
    padding-bottom: to-rem(50);
    border-radius: to-rem(4);
    .productList {
      padding-top: to-rem(10);
      display: flex;
      overflow-x: scroll;
    }
  }
  .accordionWrapper {
    border: none;
    border-radius: 0;
    margin: 0;

    &:not(:last-child) {
      border-bottom: to-rem(1) solid color(LightGrey);
    }

    > div {
      &:first-child {
        padding: to-rem(20 15);

        span {
          font-size: to-rem(14);
          font-weight: $font-weight-bold;
        }
      }

      &:nth-child(2) {
        border-top: none;
      }
    }
  }
  .accordion {
    padding: to-rem(0 16);
  }
  .scrollBanner {
    display: flex;
    align-items: center;
    background-color: color(Yellow);
    box-shadow: 0 to-rem(2 6) 0 transparentize(Black, 0.85);
    left: 0;
    padding: to-rem(25 30 15);
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s linear;

    width: 100%;
    z-index: 999;

    @include breakpoint("m") {
      display: none;
    }

    &.fix {
      transform: translateY(0);
      background-color: color(White);
    }

    .itemImage {
      margin-right: to-rem(8.75);
      max-width: to-rem(50);
    }

    .itemName {
      display: flex;
      flex-direction: row;
      width: 60%;

      h5 {
        color: color(StrongIndigo);
        margin: 0;
      }

      h3 {
        font-size: to-rem(20);
        font-weight: $font-weight-dense;
        margin: to-rem(10) 0;
      }
    }

    .itemDetails {
      text-align: right;
      width: 10%;

      &Price {
        div {
          width: 100%;
        }
      }
    }

    .itemQuantity {
      margin: 0 auto;
      max-width: to-rem(100);
      width: 12%;

      & > div {
        font-size: to-rem(13);
        font-weight: $font-weight-regular;
        margin-bottom: to-rem(5);
      }
    }

    .purchaseButton {
      text-align: center;
      width: 18%;

      button {
        padding-bottom: to-rem(15);
        padding-top: to-rem(15);
      }
    }
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .productDetail {
    &_productListItems {
      .productList {
        overflow-x: scroll;
      }
    }
  }
}
