@import "../../../Assets/styles/shared-styles.scss";
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: to-rem(100 0 48 0);
}
.resetPasswordCard {
  width: to-rem(640);
  margin: 0 auto;
  padding: to-rem(65 109 60 109);
  background-color: color(White);
  border: 1px solid #90909033;
  text-align: center;
  h1 {
    font-size: to-rem(20);
    margin-bottom: to-rem(40);
  }
  p {
    font-size: to-rem(14);
    color: color(Grey2);
    margin-top: to-rem(47);
    text-align: center;
  }
  .link {
    color: color(Pumpkin);
    margin-top: to-rem(40);
    display: flex;
    justify-content: center;
  }
}
