@import "../../../Assets/styles/shared-styles.scss";

.customerReview {
  @include breakpoint-mini("m") {
    display: flex;
    align-items: baseline;
  }
  .ratingCard {
    background-color: color(White);
    @include breakpoint-mini("l") {
      height: to-rem(185);
    }
    text-align: center;
    padding: to-rem(31 45);
    @include breakpoint("s") {
      display: flex;
      padding: 0rem 0.7rem;
      align-items: baseline;
      justify-content: flex-start;
      margin-left: to-rem(25);
    }
    h1 {
      font-size: to-rem(32);
      @include breakpoint("s") {
        font-size: to-rem(18);
        color: #fba100;
      }
    }
    p {
      @include breakpoint-mini("l") {
        margin-top: to-rem(21);
        margin-left: to-rem(50);
      }

      white-space: nowrap;
    }
    .iconList {
      display: flex;
      margin-top: to-rem(32);
      align-items: center;
      justify-content: center;
      .icon {
        margin-right: to-rem(12);
      }
      .icon:nth-child(5) {
        margin-right: 0;
      }
    }
  }
  .overallRatings {
    @include breakpoint("s") {
      display: none;
    }
  }
}
.customerRatingList {
  margin-left: to-rem(20);
  @include breakpoint-mini("l") {
    padding: 2rem;
  }
  div:first-child {
    padding-top: 0;
  }
}
/* Pagination Buttons */
.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: to-rem(20);
  padding: 0 !important;
}
.paginationBttns a {
  padding: to-rem(9 12);
  margin: to-rem(8);
  color: color(White);
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.3;
}
.nextClassName {
  background-color: white;
  border: to-rem(1) solid #dee2e6;
}
.previousClassName {
  background-color: white;
  border: to-rem(1) solid #dee2e6;
}
.previousClassName a {
  padding: 0 !important;
  width: 100%;
}
.nextClassName a {
  padding: 0 !important;
  width: 100%;
}
.previousClassName:hover {
  background-color: #dee2e6;
}
.nextClassName:hover {
  background-color: #dee2e6;
}
.paginationBttns a:hover {
  color: white;
  background-color: #dee2e6;
}
.paginationActive a {
  color: white !important;
  background-color: #ed017f;
}
.activeText {
  color: white !important;
  background-color: white !important;
}
.paginateWrapper {
  margin-top: to-rem(16);
  margin-bottom: to-rem(16);
}
