@import "../../../../Assets/styles/shared-styles.scss";
.cardWrapper{
   background-color: #F4F0EC;
   max-height: to-rem(300);
   overflow: scroll;
   z-index: 100;
}
.wrapperHeight{
    height: to-rem(150);
    .tagMobile{
        display: none;
    }
}
.items{
margin-bottom: to-rem(15);
}
.items:hover {
    background-color: #ED017F;
}
.itemsText{
    color: #828282;
    padding:to-rem(7);
    font-size: to-rem(14);
}
.itemsText:hover {
    color: #FFFFFF;
    background-color: #ED017F;
    font-size: to-rem(14);
}
.inputWrapper{
    display: flex;
    align-items: center;
    border: solid 0.0625rem #ededed;
    border-radius: to-rem(5);
    input{
        border: none !important;
        margin-top: 0 !important;
    }
}
.icons{
    margin-left:to-rem(8);
}
.travelSearchForm {
    background-color: color(White);
    box-shadow: 5px 10px 10px 0px #4d4c4c0d;
    height: to-rem(230);
    .flightDetails {
        display: flex;
        width: to-rem(1080);
        justify-content: space-between;
        margin: to-rem(27 0 0 32);
        &Inputs {
            width: to-rem(200);
            height: to-rem(46);
        }
        input[type="date"] {
            border: 1px solid #ededed;
            width: 100%;
            height: to-rem(46);
            margin-top: to-rem(10);
        }
        select {
            border: 1px solid #ededed;
            width: 100%;
            height: to-rem(46);
            margin-top: to-rem(2);
        }
    }

    input[type='radio']{
        & ~ label::before{
        border-radius: to-rem(3);
        border: to-rem(1) solid color(Grey);
        }
    }
    label{
        color: color(Grey);
        font-size: to-rem(16);
    }
.container {
    cursor: pointer;
    display: block;
    font-size: to-rem(16);
    margin-bottom: to-rem(12);
    padding-left: to-rem(20);
    position: relative;
    width: 100%;
    input[type='checkbox'] {
        left: to-rem(0);
        opacity: 0;
        position: absolute;
        top: to-rem(0);
        margin-top: 0;
        z-index: 1;
        & ~ .checkmark {
            cursor: pointer;
            height: to-rem(25);
            border-radius: to-rem(3);
            @include ellipsis;
            left: 0;
            margin-right: to-rem(10);
            max-width: 80%;
            overflow: hidden;
            position: absolute;
            top: 0;
        }

        & ~ .checkmark::before {
            background-color: color(White);
            border-radius: to-rem(3);
            border: to-rem(1) solid color(Grey);
            content: '';
            display: block;
            height: to-rem(16);
            flex-shrink: 0;
            @include breakpoint('s') {
                border-color: color(Black);
                border-radius: to-rem(2);
                height: to-rem(11);
                width: to-rem(10);
            }
            margin-top: to-rem(4);
            margin-right: to-rem(16);
            width: to-rem(16);
        }
        label{
        margin-right: to-rem(10);
        }
        &:checked ~ .checkmark::before {
            $checked-color: color(PrimaryLight);
            background-color: $checked-color;
            border-color: $checked-color;
        }
    }
}
    .bottom {
        display: flex;
        width: to-rem(1080);
        margin-left: to-rem(33);
        justify-content: space-between;
        .moreOptions {
            margin: to-rem(33 0 0 0);
            color: color(OptionsGreen);
        }
        .button {
            margin-top: to-rem(25);
            width: to-rem(200);
            height: to-rem(46);
        }
    }
}
.advancedOptions {
    color: #13AA68;
    margin-left: 1.5rem;
    z-index: 0;
    cursor: pointer;
}
.classType {
    margin-top: to-rem(-30);
    width: to-rem(310);
    margin-right: 0%;
    margin-left: 0.5rem;
}
.chevronLeft {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 1.65rem;
}
.alignButton {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}
.firstButton, .secondButton {
    width: 14.5%;
    height: to-rem(38);
}
.search{
    background-color: color(PrimaryLight) !important;
}
ul[role=listbox] {
    padding: 0px !important;
}

.inputWidth {
    z-index: 1;
    .dateTagMobile{
        .dateWrapper{
            display: flex;
            align-items: center;
        }
    }
}

@media screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px){
    .inputWidth {
        .dateTagMobile{
            .dateWrapper{
                display: flex;
                align-items: center;
                width: 10rem !important;
            }
        }
    }
}

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .cardWrapper{
        position: absolute;
    }
    .travelSearchForm {
        height: 17.3rem;
        .tripTypeSelectors{
            background-color: #FFF4F5;
            .wrapperHeight{
                .raddioButtonsMobileWrapper{
                    .raddioButtonMobile{
                        margin-right: 0;
                        margin-left: 0;
                        padding-left: 0;
                    }
                }
                .tagMobile{
                    display: block;
                    background-color: #FFF4F5;
                    margin-top: to-rem(8);
                }
                .datePickerMobile{
                    width: 50% !important;
                    .dateTagMobile{
                        display: block;
                        background-color: #FFF4F5 !important;
                        .dateWrapper{
                            display: flex;
                            align-items: center;
                            background-color: white;
                        }
                    }
                }
            }
            .inputWidth {
                width: 100%;
                z-index: unset;
                .inputWrapper{
                    background-color: white !important;
                    border: none;
                }
            }
            .firstButton, .secondButton {
                width: 100%;
            }
            .chevronLeft {
                margin-left: 0.5rem;
            }
            .alignButton {
                display: flex;
                flex-direction: column;
                row-gap: to-rem(18);
                margin: 17rem 1rem 1rem 1rem;
            } 
        }
    }
}

@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .travelSearchForm {
        height: 17.3rem;
        .inputWidth {
            width: 11.5rem;
        }
    } 
    .firstButton, .secondButton {
        width: 20.9%;
    }
}
@media screen 
  and (min-device-width: 1024px)
  and (max-device-width: 1439px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .firstButton, .secondButton {
        width: 13.9%;
    } 
}
@media screen 
  and (min-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .classType {
        margin-left: 0.5rem;
    }
   
}

