@import "../../Assets/styles/shared-styles.scss";
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  .icon {
    margin-bottom: to-rem(10);
  }
  p {
    font-weight: 300;
    font-size: to-rem(14);
    line-height: to-rem(17);
    color: #999999;
    width: 70%;
    text-align: center;
  }
}
