@import "../../../Assets/styles/shared-styles.scss";

.buyAirtime{
    .operatorHolder {
        display: flex;
        width: 100%;
    }
    padding: to-rem(0 59); 
    .header{
        h1{
            font-size: to-rem(20);
            font-weight: 500;
            padding: to-rem(18 0 21 0);
            color: color(PrimaryLight);
        }
        border-bottom: to-rem(1) solid color(WhiteSmoke);
}
.saveAsBeneficiary{
    input[type='checkbox']{
        position: unset;
    }
    span{
        margin-left: 5px;
        color: #555555;
        font-size: 12px;
    }
}
    .form{
        &_heading{
            h1{
                margin-top: to-rem(25);
                font-size: to-rem(18);
                font-weight: 400;
            }
        }
      
        .networkCards{
            display: flex;
            justify-content: space-between;
            margin: to-rem(40 0 38 0);
            .networkCard{
            width: to-rem(108.41);
            height: to-rem(108.41);
            text-align: center;
            background-color: #F8F9F9;
            }
        }
        .inputWrapper{
            .beneficiaryWrapper{
                .beneficiaryLabel{
                    display: none;
                }
            }
            input,select{
                margin-bottom: to-rem(32);
            }
            select{
                height: to-rem(50);
            }
        }
        .smallText{
            font-size: 0.8rem !important;
        }
        .terms{
            font-size: to-rem(14);
        }
        .termsAndConditions{
            color: color(PrimaryLight);
        }
    }
    
}


@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .buyAirtime{
        padding: 0 15px;
        position: absolute;
        top: 22px;
        width: 100%;
        .formWrapper{
            overflow: scroll;
            -webkit-overflow-scrolling:touch;
            height: 80vh;
            .form{
                padding-bottom: 5rem;
            }
        }
        .header{
            padding-left: 5px;
            margin-top: 0 !important;
            h1{
                font-size: 1.2rem;
                font-weight: 500;
                padding: 14px;
                background: #ED017F;
                margin-right: -15px;
                margin-left: -20px;
                color: #fff;
                margin-top: -22px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            border-bottom: to-rem(1) solid color(WhiteSmoke);
        }
        .form{
            padding-bottom: 5rem;
            &_heading{
                h1{
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
            .inputWrapper{
                .beneficiaryWrapper{
                    display: flex;
                    justify-content: space-between;
                    .beneficiaryLabel{
                        display: block;
                        color: #ED017F;
                        font-weight: 500;
                    }
                }
                input,select{
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
                select{
                    height: to-rem(50);
                }
                label{
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            small{
                line-height: 1;
                font-size: 12px;
                color: #555555;
            }
            .button{
                padding-top: 15px;
            }
            .smallText{
                font-size: 0.7rem !important;
            }
        }
    }
    .operatorHolder {
        display: flex;
        overflow-x: scroll;
        width: 100%;
    }
}

@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1439px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .buyAirtime{
        padding: 0rem 3rem; 
    }
}