@import "../../../Assets/styles/shared-styles.scss";
.header {
    &_head {
        color: color(white);
    }
    &_head:first-child {
        margin-left: 10.28%;
    }
    &_business {
        color: color(PrimaryLight);
    }
}