@import "../../Assets/styles/shared-styles.scss";

.starRating {
  display: flex;
  align-items: center;

  color: color(SlateGrey);
  font-size: to-rem(14);

  > svg {
    height: to-rem(14);
    margin-right: to-rem(1);
    width: to-rem(14);
  }
  .starRatingYellow {
    g {
      fill: color(GoldenRod);
    }
  }
  .starRatingAsh {
    g {
      fill: color(GoldenRod);
    }
  }
}

.merchantRating {
  > svg {
    height: to-rem(18);
    width: to-rem(18);
  }

  .starRatingYellow {
    > g {
      fill: color(NeonPink);
    }
  }
}

.reviewText {
  color: color(SteelGrey);
  font-size: to-rem(12);
  margin-left: to-rem(4);
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .starRating {
    display: block !important;
  }
  .reviewText {
    display: block !important;
  }
}
