@import "../../../../../Assets/styles/shared-styles.scss";

.container {
    h1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        padding-bottom: 1rem;
        border-bottom: 1px solid #F5F5F5;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
    .text {
            display: flex;
            justify-content: center;
            align-items: center;
        p {
            width: 269px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #696969;
            text-align: center;
            margin-bottom: 14rem;
        }
    }
}