@import "Assets/styles/shared-styles.scss";
.cancelOrder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: rgba(29, 27, 27, 0.6);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    .formWrapper{
        background-color: white;
        height: 100vh;
        width: to-rem(500);
        margin-right: to-rem(-500);
    }
    .formWrapper.slideIn{
        transition: .5s;
        margin-right: 0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: to-rem(16);
        box-shadow: to-rem(0 4 4) rgba(0, 0, 0, 0.1);
        margin-bottom: to-rem(30);
        span{
            font-weight: 700;
            font-size: to-rem(24);
        }
        .close{
            display: flex;
            align-items: center;
            border: to-rem(1) solid #ccc;
            border-radius: to-rem(4);
            padding: to-rem(10);
            cursor: pointer;
            p{
                color: #DCDCDC;
                font-size: to-rem(12);
                font-weight: 400;
                padding-left: to-rem(10);
            }
            svg{
                path{
                    fill: color(Red) !important;
                }
                rect{
                    fill: color(Red) !important;
                }
            }
        }
    }
    .form{
        padding: to-rem(10 16);
        .whyCancel{
            span{
                font-size: to-rem(16);
                font-weight: 700;
            }
        }
        .reason,.reasonDetails{
            padding-top: to-rem(10);
            span,label{
                font-weight: 500;
                font-size: 14px;
            }
        }
        .reason{
            select{
                padding: to-rem(20 15);
            }
        }
        .reasonDetails{
            textarea{
                height: to-rem(170);
            }
        }
        .cancelButton{
            background-color: #ED017F;
            border-radius: to-rem(8);
            padding: to-rem(8);
            margin-top: to-rem(50);
            button{
                color: white;
            }
        }
    }
}