@import "../../Assets/styles/shared-styles.scss";

.oldWebsiteContainer {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  z-index: 1000;
  top: 0;
  right: 0;
  @include breakpoint("s") {
    height: 81vh;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
