@import "../../../Assets/styles/shared-styles.scss";
.sourceAddress{
    display: flex !important;
    justify-content: space-between;
    .edit{
        display: flex;
        padding-top: 1rem;
        cursor: pointer;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #ED017F;
            margin-left: 5px;
        }
    }
}
.step2{
    .form{
        &_content{
            @include breakpoint-mini('xxxl'){
                margin-bottom: to-rem(130);
                h2{
                    font-size: to-rem(20);
                    font-weight: 500;
                    padding: to-rem(25 0 47 0);
                }
            }
            label{
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}