@import "../../Assets/styles/shared-styles.scss";
.formDividerContainer {
  display: flex;
  justify-content: center;
  p {
    text-align: center;
    color: color(Commet);
    font-size: to-rem(14);
    padding: to-rem(0 25);
    width: 100%;
  }
  .line1,
  .line2 {
    width: 100%;
    border-bottom: to-rem(1) solid color(Gainsboro);
    margin-bottom: to-rem(5);
  }
}
