@import '../../Assets/styles/shared-styles.scss';

.categorySideMenu{
    position: fixed !important;
    top: 0px !important;
    z-index: 103 !important;
    width: to-rem(332);
    height: 100%;
    background-color: color(White);
    padding: to-rem(0 0 185 0);
    left: to-rem(1);
    overflow: scroll;
    .heading{
        display: flex;
        align-items: center;
        height: to-rem(50);
        padding-left: to-rem(50);
        background-color: color(WhisperVarOne);
    }
    .categoryInfo{
        display: flex;
        justify-content: space-between;
        padding: to-rem( 14 65 14 50 );
        p{
            font-size: to-rem(14);
            color: color(Black);
            font-weight: 500;
        }
       
    }
    .categoryInfo:hover{
        background-color:color(WhisperVarOne);
        p{
            color: color(PrimaryLight);
        }
        svg{
            path{
                fill: color(PrimaryLight);
            }
        }
    }
    .img{
        margin-top: to-rem(10);
        height: to-rem(381);
        padding: to-rem( 0 65 0 50 );

    }
    .subCategoryMenu{
        position: absolute;
        top: 0;
        background-color: orange;
        padding-left: 4rem;
    }
    .subCategoriesNav{
        padding-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ECECEC;
        .icon {
            display: inline;
            cursor: pointer;
        }
        span{
            padding-left: 10px;
            font-size: 17px;
            color: #656565;
            font-weight: bold;
        }
    }
}
