@import "../../Assets/styles/shared-styles.scss";
.wrapper {
  background-color: color(White);
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: unset;
  height: 45%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1rem;
    }
    .icon {
      cursor: pointer;
    }
  }
  .sectionWrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    .icon {
      width: to-rem(70);
      height: to-rem(70);
      cursor: pointer;
    }
  }

  .imgCarousel {
    margin: 0 auto;
    .mainImg {
      height: 600px;
      width: 600px;
      border-radius: to-rem(4);
      cursor: pointer;
      @include breakpoint-mini("l") {
        height: 600px;
        width: 600px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .extraImages {
      cursor: pointer;
    }
    .subImgList {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      .subImg {
        max-width: to-rem(80);
        margin: to-rem(20 20 0 0);
        border-radius: to-rem(4);
      }
      .activeBaseImage {
        border: to-rem(3) solid #fba100;
      }
    }
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .imgCarousel {
    .extraImages {
      display: none;
    }
    .mainImg {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: auto;
      }
    }
  }
}
